body {
	font-family: 'Open Sans';
    margin-top: 90px;
}

img {
	width: 100%;
}

h2 {
	margin-bottom: 10px;
}

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-item h3 {
	margin-top: 10px;
}

footer {
    margin: 50px 0;
}
